<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Example App</title>	
	<!-- build:css /static/css/main.css -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<!-- endbuild -->
</head>
<body>

	{{{body}}}

	<div id="socket">
	</div>

	<!-- build:js /static/js/scripts.js -->
	<script src="../../static/js/scripts.js"></script>	
	<!-- endbuild -->

	<script src="//cdn.socket.io/socket.io-1.3.7.js"></script>
	<script>
	var socket = io();
	socket.on('interval event', function(msg){
		document.getElementById('socket').innerHTML = msg;
	});
	</script>
</body>
</html>